<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infinidnd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfiniDnD">
        <activity
            android:name=".ui.DamageDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.DamageActivity" />
        <activity
            android:name=".ui.EquipmentDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.EquipmentActivity" />
        <activity
            android:name="com.example.infinidnd.ui.DamageActivity"
            android:exported="false"
            android:parentActivityName="com.example.infinidnd.ui.MainActivity" />
        <activity
            android:name="com.example.infinidnd.ui.SchoolsActivity"
            android:exported="false"
            android:parentActivityName="com.example.infinidnd.ui.MainActivity" />
        <activity
            android:name="com.example.infinidnd.ui.SpellsActivity"
            android:exported="false"
            android:parentActivityName="com.example.infinidnd.ui.MainActivity" />
        <activity
            android:name="com.example.infinidnd.ui.MonstersActivity"
            android:exported="false"
            android:parentActivityName="com.example.infinidnd.ui.MainActivity" />
        <activity
            android:name="com.example.infinidnd.ui.EquipmentActivity"
            android:exported="false"
            android:parentActivityName="com.example.infinidnd.ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>